body{
    font-family: 'Muli', sans-serif !important;
    background-color: #EDEDED !important;
    overflow-x: hidden;
}
header{
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.39844vh;
    width: 100vw;
    background-color: rgb(29, 54, 73);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.navbar-toggler{
    display: none;

}
.offcanvas.offcanvas-end{
    width: 50vw !important;
}
.offcanvas{
    background-color: #3E5D75 !important;
}
.horizontal-line
{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border: none;
    border-top: 1px solid #ffff;
}
#flex-icons{
    display: flex;
    margin-right: 1.1vw;
    align-items: center;
}
#logo{
    background-image: url(../images/LogoSmart.png);
    width: 86px;
    height: 50px;
    margin-left: 1.94444vw;
}

.material-symbols-outlined{
    color: #fff;
    fill: #fff;
    font-size: 34px !important;
    width: 28px;
    height: 34px;
    margin-right: 15px;
}
.icons-nav{
    font-size:15px !important;
    width: 21px !important;
    height: 19px !important;
    margin-right: 12px !important;
}
#circle{
    margin-right: 11px;
    background-image: url(../images/Hagit_image.png);
    width: 61px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 40px;
}

.nav{
    width: auto;
}
.nav-link{
    display: flex !important;
    align-items: center !important;
    color: #fff !important;
    font-family: 'Amiko';
}
.nav-underline {
    gap: 27px !important;
    align-items: center;
}

.btn-little{
    display: flex !important;
    justify-content: center;
    align-self: center;
    height: 30px;
    width: 30px;
}
footer {
    position: absolute;
    min-height: 44px;
    bottom: 0;
    padding-left: 8px;
    display: flex;
    align-items: center;
    color: #ffff;
    font-size: 14px;
    background-color: #1D3649;
     height: 4.296875vh;
     width: 100vw;
}
.footer {
    position: relative;
    min-height: 44px;
    bottom: 0;
    padding-left: 8px;
    display: flex;
    align-items: center;
    color: #ffff;
    font-size: 14px;
    background-color: #1D3649;
     height: 4.296875vh;
     width: 100vw;
}
.container-fluid{
    --bs-gutter-x: 50% !important;
}
.search{
    min-height: 32px;
    margin-bottom: 2.3469vh;
    height: 3.125vh !important; 
    width: 13.68vw !important; 
    border-radius: 35px !important;
}
.form-label{
    width: 100%;
}
.form-flex{
    display: flex;
    justify-content: center;
}
.center{
    text-align: center;
}
.mb-3-top{
    margin-bottom: 1rem!important;
    margin-top: 1.5rem !important;
}
h1{
    text-align: center;
    margin-bottom: 2.96vh !important;

}


    .avatar-upload {
        display: flex;
        justify-content: center;
    }
    .avatar-edit {
        position: absolute;
        right: 0;
        z-index: 1;
        top: 10px;
    }
    input {
        display: none;
    }
    #pencil:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
    }
    #pencil:after {
        content: "\f040";
        color: #757575;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        text-align: center;
        line-height: initial;
        margin: auto;
    }
    .btn-outline-secondary {
        --bs-btn-border-color: #3E5D75 !important;
        --bs-btn-hover-color: #ffff !important;
        --bs-btn-hover-bg: #3E5D75 !important;
        --bs-btn-hover-border-color: #3E5D75 !important;
    }
    .btn-style{
        background-color: #3E5D75 !important;
        color: #ffff !important;
        text-align: center !important;
    }
    
    #pencil{
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out;
    }         
        
    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
    #imagePreview {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
       
    #body_index {
        background-color: #EDEDED;
    }

    /* Profile text */
    #profiles_text {
        margin-top: 1.757vh;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 48px;
        color: #000000;
    }
    
    /* List text */
    #List_text {
        margin-bottom: 9.863vh;
        font-style: normal;
        text-align: center;
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
    }

    .add{
        margin-bottom: 6.5625vh !important;
        margin-top: 1.25vh !important;
    }


    .size-cf{
        --bs-gutter-x:auto !important;
        width: 76.25vw !important;
    }
    .button-container button {
        height: 37px;
        width: 174px;
        border-radius: 6px;
        background-color: #3E5D75;
        color: white;
    }
    .btn-div{
        margin-bottom: 2.93vh;
        text-align: end;
    }
    .row {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }
    .row-qa{
        height: auto !important;
        align-items: start;
    }
    .row-nu{
        height: auto !important;
        display: flex !important;
        align-items: unset;
    }
    .card-nu{
        background-color: #EDEDED !important;
    }
    
    .col,.col-1,.col-2,.col-3 {
        text-align: start;
        font-weight: bold;
        color: #C0C0C0;
    }
    .row-profile{
        background-color: white;
        border-radius: 30px;
        height: 100px;
        margin-bottom: 1.66vh;
    }

    .col_img {
        text-align: center;
        font-weight: bold;
        color: #C0C0C0;
        display: flex;
        align-items: center;
    }
    
    .circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #62C462;
        margin-left: 75px;
    }

    .container .row-profile > * {
        font-weight: bold;
        color: #000000;
    } 
    .col-1,.col-2,.col-3{
        text-align: center;
    }
    .container .row-profile :nth-child(5) {
        display: flex;
        justify-content: center;
    }
    .col button {
        display: inline-block;
        margin-right: 10px;
    }
    #network{
        display: block;
        width: 40px; 
        height: 40px; 
        border-radius: 50%; 
        background-color: #62C462;
        text-align: center;
    }
    #network-small{
        display: block;
        width: 10px; 
        height: 10px; 
        border-radius: 50%; 
        background-color: #62C462;
        text-align: center;
    }
    
    .col button:last-child {
        margin-right: 0;
    }
    .edit-button, .delete-button {
        border-radius: 50%;
        width: 29px;
        height: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        border: none; /* Removes the border */
        padding: 0;
    }
    .edit-button i {
        color: #444444;
    }
    .delete-button {
        background-color: #F2DEDE;
    }
    .edit-button {
        background-color: #000000;
    }
    .delete-button i {
        color: #973434;
    }
    .btn-warning .fas.fa-pen {
        color: #444444;
    }
    .custom-bg-color {
        background-color: #3E5D75;
        color: white;
        width: 80px;
        height: 40px;
        border-radius: 35px;
        border: none;
        text-decoration: none;
        font-weight:normal;
    }
    .small{
        display: none;
        margin-bottom: 30.17vh

    }
    .data{
        width: 100%;
    }
    .cover{
        display: flex;
        align-items: center;
        gap:1.76%;
        width: 75%;
    }
    .deleteForm1{
        gap: 10%;
        display: flex;
    }
    .flex-data{
        display: flex;
        align-items: center;
        gap:10px
    }
    .profile-small{
        min-height: 55px;
        display: flex;
        justify-content: space-between;
        padding-left: 5.633%;
        padding-right: 5.633%;
        align-items: center;
        background-color: white;
        border-radius: 30px;
        height: 11.09vh;
        margin-bottom: 1.66vh;
    }
    span{
        text-align: center !important;  
    }
    #bold{
        font-weight: bold;
        color: #000000;
    }


#test1 {
    background-color: #eee;
    margin-top: 20px;
}
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.btn-nu{
    background-color: rgb(29, 54, 73) !important;
}
.nav-tabs-custom .nav-item .nav-link.active {
    color: #6c6ff5 !important;
}
.nav-tabs-custom .nav-item {
    position: relative;
    color: #271050;
}
.nav-tabs-custom .nav-item .nav-link.active:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.nav-tabs-custom .nav-item .nav-link::after {
    content: "";
    background: #6c6ff5;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    -webkit-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.font-size-16 {
    font-size: 16px;
}

    @media (max-width: 768px) {
        .nav-justified .nav-item {
            width: 100%;
            text-align: center;
          }
        .material-symbols-outlined{
            padding-right: 10px !important;
        }
        #flex-icons{
            display: none;
        }
        .nav{
            display: none !important;
        }
        .navbar-toggler{
            display: inline;
        }
        .avatar-preview {
            width: 80px;
            height: 80px;
        } 
        #pencil {
            width: 23px;
            height: 23px;
        }
        #pencil::after{
            top:3px
        }
        .avatar-edit {
            position: absolute;
            right: -11px;
            z-index: 1;
            top: 10px;
        }
    }  
    @media (max-width: 1059px) 
    {
        .search{
            height: 5.156vh !important; 
            width: 100% !important; 
            border-radius: 35px !important;
        }
       .big{
        display: none;
       }
       .small{
        display: block;
       }
       .btn-div{
        margin-bottom: 7.031vh;
       }
    }





















